div.create
    form
        div.content
    div.add
        a
            img.cycle.polaroid(src='resources/img/plus.png')
    div.valid
        button.create.info.large='Create'
        button.cancel.link.large='Cancel'