div.home
    h1='Welcome to'
    img(src='resources/img/logo.png', alt='Query Sniper Logo')
    small='Query sniper is a visual propagation tool for SQL system.'
    br
    br
    a.button.large.info(href='#/visual/create')='Let\'s get started'